.App{
    background-attachment: fixed;
    background-size: cover;
    width: 1200px;
    height: 900px;
    margin-left: 10px;
    
}

.App1{
    background-attachment: fixed;
    background-size: cover;
    width: 1500px;
    height: 900px;
    margin-left: 10px;
    
}
.button{
    margin-right:10px;
    display: inline;
    margin-left: 10px;

}
#Search{
    text-align: right;
}

#Transparent{
    opacity: 0.9;
    color: black;
    background-color: rgb(247, 240, 247);
}

#reviewscardheader{
    background-color:rgb(241, 211, 241);    
    transition: 0.3s;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
    opacity: 0.9;
}

.containers{
    opacity: 0.9;
    padding-top: 14px;
    color: black;
    background-color: rgb(247, 240, 247);
    padding-left: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.bordered{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
}

.length{
    margin-right: 10px;
}

.font-color{
    color:yellow;
    margin-left: 12px;
}


#cardContent{
    background-color: rgb(253, 253, 253);
    transition: 0.3s;
  }

  #rply{
      margin: 13px;
  }

  #avatar{
      background-color: rgb(183, 16, 189);
      width: 35px;
      height: 35px;

  }

  #avatarfont{
      color:rgb(241, 239, 239)
  }

  #titleContent{
      background-color: rgb(248, 221, 164);
      font-weight: bold;
      color: black;
      margin-bottom: 10px;
      margin-top: -10px;
      padding: 10px;
      border: none;
  }

  #titleContent1{
    background-color: rgb(252, 252, 252);
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    margin-top: -10px;
    padding: 10px;
    border: none;
}

.records{
    background-color: rgb(236, 235, 233);
    opacity: 0.9;
    color: black;
}

#cardbutton1{
    color: rgb(247, 240, 240);
    background-color: rgb(183, 16, 189);
    margin-left: 215px;
}

#cardbutton2{
    color: rgb(247, 240, 240);
    background-color: rgb(183, 16, 189);
    margin-left: 75px;
}

#cardbutton{
    color: rgb(247, 240, 240);
    background-color: rgb(183, 16, 189);
    margin-left: 30px;
}

input[type=text] {
    width: 100%;
    padding: 10px 10px;
    border: none;
    margin: 10px;
    border-bottom: 0.5px solid rgb(221, 167, 218);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=text]:focus {
    border-bottom: 1.5px solid rgb(197, 28, 212);
  }
